@font-face {
    font-family: 'Gotham Bold';
    src: local('Gotham Bold'), url('path-to-gotham-bold.woff2') format('woff2');
}

body {
    background-color: rgb(15, 15, 15);
    font-family: 'Arial', sans-serif;
    font-size: larger;
    color: rgb(255, 221, 87);
    margin: 0;
    padding: 0;
}

h1 { 
    color: #ffffff; 
    font-size: 80px;
    margin: 20px 0; 
    text-align: center;
    font-family: 'Gotham Bold', sans-serif;
    border: 5px solid #FFBB12;
    padding: 20px;
    border-radius: 15px;
    background: rgba(255, 221, 87, 0.1);
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    height: 90vh;
}

.image-section {
    flex-basis: 45%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.image-section img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.image-section figcaption {
    margin-top: 10px;
    font-style: italic;
    font-size: smaller;
    color: rgb(255, 255, 255);
    text-align: center;
}

.text-section {
    flex-basis: 50%;
    text-align: left;
    padding: 20px;
}

p {
    font-family: 'Times New Roman', serif;
    font-size: 120%;
    line-height: 1.6;
}

p.important {
    border: 2px solid #FFBB12;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background: rgba(255, 221, 87, 0.1);
}
