@font-face {
    font-family: 'Gotham Bold';
    src: local('Gotham Bold'), url('path-to-gotham-bold.woff2') format('woff2');
}

body {
    background-color: rgb(15, 15, 15);
    font-family: 'Arial', sans-serif; /* General fallback font for body */
    font-size: larger;
    color: rgb(255, 221, 87);
    margin: 0;
    padding: 0;
}

h1 { 
    color: #ffffff; 
    font-size: 80px;
    margin-bottom: 10px; 
    text-align: center;
    font-family: 'Gotham Bold', sans-serif; /* Font specifically for heading */
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%; /* Adjusted to take almost the full window */
    margin: 0 auto;
    padding: 20px 0;
    height: 90vh; /* Takes up almost the full vertical height of the viewport */
}

.image-section {
    flex-basis: 45%; /* Image takes up about 45% of the width */
    padding: 10px;
    border-radius: 10px;
}

.image-section img {
    width: 100%;
    height: 100%; /* Adjusts the image to fill the section */
    border-radius: 10px;
    object-fit: cover; /* Ensures the image covers the area without distortion */
}

.image-section figcaption {
    margin-top: 10px;
    font-style: italic;
    font-size: smaller;
    color: rgb(255, 255, 255);
    text-align: center;
}

.text-section {
    flex-basis: 50%; /* Text takes up about 50% of the width */
    text-align: left;
    padding: 20px;
}

p {
    font-family: 'Times New Roman', serif; /* Different font for paragraph text */
    font-size: 120%;
}

p.important {
    border: 2px solid #FFBB12;
    padding: 10px;
    margin-top: 10px;
}
